node_modules/
.env
.DS_Store
dist/
build/
*.log
.cache/
backend/logs/
frontend/node_modules/
frontend/.env



# Ignore all files with certain extensions
*.log
*.tmp
*.cache
*.env
*.key


# Ignore specific files in specific directories
src/config/database.js
logs/error.log
uploads/temp.txt
backend/database/safe-guard-ddl.sql
CLAUDE.md
